[submodule "alexandria"]
	path = alexandria
	url = git@github.com:pschultz/alexandria.git
[submodule "kiosk"]
	path = kiosk
	url = git@github.com:pschultz/kiosk.git
[submodule "relaisctrl"]
	path = relaisctrl
	url = git@github.com:pschultz/relaisctrl.git
[submodule "document-archive"]
	path = document-archive
	url = git@github.com:pschultz/document-archive.git
